* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SR';
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background: #210E09;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* HEADER */

.header__nav {
    padding: 36px;
}

.header__nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.header__nav-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    position: relative;
}

.header__nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: all 400ms;
}

.header__nav-link:hover::before {
    width: 100%;
    left: 0;
}

.header__nav-btn {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 15px 30px;
    border: 2px solid #D5621D;
    border-radius: 6px;
    transition: all 300ms;
}

.header__section {
    margin-top: 30px;
}

.header__content {
    display: flex;
    gap: 24px;
}

.header__content-box-left {
    background: url(../img/header__content.jpg) no-repeat center /cover;
    border-radius: 7px;
    max-width: 716px;
    width: 100%;
    height: 492px;
    padding: 45px 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 27px;
}

.header__content-box-left-link {
    font-family: 'GPB';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #210E09;
    padding: 10px 20px 7px;
    background: #FFFFFF;
    border-radius: 5px;
}

.header__content-box-left-text {
    font-family: 'GPB';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__content-box-right {
    max-width: 446px;
    width: 100%;
}

.header__content-box-right__box-title {
    display: flex;
    max-width: 446px;
    width: 100%;
}

.header__content-box-right-title {
    padding: 12px 47px 7px 47px;
    background: rgba(213, 98, 29, 0.1);
    border-radius: 5px 5px 0px 0px;
    max-width: 223px;
    width: 100%;
}

.header__content-box-right-title a {
    font-family: 'GPB';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.bg-clr {
    background: rgba(213, 98, 29, 0.05);
    padding: 12px 75px 7px 75px;
}

.header__content__right-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 451px;
    width: 100%;
    padding: 20px;
    background: rgba(214, 101, 31, 0.1);
    border-radius: 0px 0px 5px 5px;
}

/* MAIN */

.main {
    margin-top: 130px;
}

.main__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.main__box-link, .events__box-link {
    font-family: 'GPB';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #210E09;
    padding: 10px 20px 7px;
    background: #FFFFFF;
    border-radius: 5px;
    text-align: center;
}

.main__box-title {
    font-family: 'GPB';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main__food-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 47px;
    column-gap: 100px;
}

.main__food-box-item {
    margin-top: 80px;
    display: flex;
    gap: 25px;
    align-items: center;
    max-width: 470px;
    width: 100%;
    position: relative;
}

.main__food-box-item-flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main__food-item-img {
    border-radius: 4px;
}

.main__food-item-title {
    font-family: 'GPB';
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main__food-item-price {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #D5621D;
}

.main__food-item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}

.main__food-item-btn {
    font-family: 'GPB';
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px 20px 7px 20px;
    border: 2px solid #D5621D;
    border-radius: 6px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 300ms;
}

.menu__btn-box {
    margin-top: 97px;
    text-align: center;
}

.menu__btn {
    cursor: pointer;
    border: none;
    outline: none;
    font-family: 'GPB';
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #D5621D;
    border-radius: 5px;
    padding: 15px 30px;
    transition: all 300ms;
}

.events {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.events__box {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.events-title {
    font-family: 'GPB';
    font-weight: 400;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.events-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF; 
}

.events__img {
    background: url(../img/events__img.jpg);
    max-width: 400px;
    width: 100%;
    height: 560px;
    border-radius: 6px;
}

.events__btn {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 15px 30px;
    border: 2px solid #D5621D;
    border-radius: 6px;
    transition: all 300ms;
}

.techraider__title, .contacts__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 160px;
}

.techraider {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.techraider__box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.techraider__box-loudspeakers {
    background: #D5621D;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    padding: 20px 40px;
    max-width: 526px;
    width: 100%;
}

.techraider__box-loudspeakers-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.techraider__box-loudspeakers-title {
    font-family: 'GPB';
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.techraider__box-loudspeakers-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}

.techraider__box-loudspeakers-img {
    width: 22px;
    height: 13px;
    transform: rotate(270deg);
    position: absolute;
    right: 42px;
    top: 25px;
}

.techraider__box-loudspeakers-item {
    padding: 20px 30px;
    background: rgba(213, 98, 29, 0.1);
    border-radius: 5px;
    max-width: 526px;
    width: 100%;
    position: relative;
}

.techraider__box-loudspeakers-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.soundmans {
    max-width: 415px;
    width: 100%;
}

.soundmans-title {
    font-weight: 400;
    font-family: 'GPB';
    font-size: 32px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.soundmans {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.soundmans__box {
    display: flex;
    gap: 24px;
}

.soundmans__box-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.soundmans__box-icon {
    padding: 10px;
    border: 2px solid #D5621D;
    border-radius: 5px; 
}

.soundmans__box-img {
    border-radius: 6px;
    width: 100%;
}

.soundmans__box-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.soundmans__icons-box {
    display: flex;
    gap: 40px;
}

/* FOOTER */

.footer {
    margin-top: 80px;
}

.footer__box {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.footer__box-location-left {
    background: rgba(213, 98, 29, 0.1);
    border: 2px solid #D5621D;
    border-radius: 5px;
    max-width: 416px;
    width: 100%;
    padding: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.footer__box-location-left-title {
    font-family: 'GPB';
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer__box-location-left-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}

.footer__box-location-left-worktime::after {
    content: '';
    background: #fff;
    max-width: 316px;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 60%;
}

.footer__box-location-left-number {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.location {
    border: 2px solid #D5621D;
    border-radius: 5px;
}

/* ANIMATION */

    .header__nav-btn:hover, .main__food-item-btn:hover, .events__btn:hover {
        border: 2px solid #fff;
        color: #D5621D;
    }

    .menu__btn:hover {
        background: #fff;
        color: #D5621D;
    }

/* MEDIA */

@media (max-width:1140px) {
    .header__content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:1050px) {
    .header__nav-box {
        flex-direction: column;
        gap: 25px;
    }

    .events {
        flex-direction: column;
    }

    .techraider {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .footer__box {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
}

@media (max-width:875px) {
    .location {
        max-width: 656px;
        width: 100%;
    }
}

@media (max-width:600px) {
    .header__content-box-left-text {
        font-size: 30px;
    }
}

@media (max-width:500px) {
    .header__content-box-right-title {
        text-align: center;
        max-width: 446px;
        width: 100%;
    }

    .header__content-box-right__box-title {
        flex-direction: column;
    }

    .header__content-box-left-text {
        font-size: 20px;
    }
    
    .events-title, .soundmans-title, .main__box-title {
        font-size: 25px;
    }

    .soundmans__box-title {
        font-size: 12px;
    }
}


@media (max-width:400px) {
    .soundmans__box {
        flex-direction: column;
        align-items: center;
    }

    .main__food-box-item {
        flex-direction: column;
        align-items: center;
    }

    .main__food-box-item-flex {
        justify-content: center;
        align-items: center;
    }
    
    .main__food-item-text {
        text-align: center;
    }

    .main__food-item-btn {
        position: static;
    }

    .location {
        width: 300px;
        height: 300px;
    }
}